<!doctype html>
<title>Stock Ticker Plotting</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>A short quiz</h1>
  <div class=metanav>
    <h4>
      Please enter a stock ticker symbol.
    </h4>

    <form id='tickerplot_input' method='post' action='tickersubmit' >
      <p>
    Ticker Symbol: <input type='text' name='ticker_name' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
